<!doctype html>
<!-- <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="/bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css" />
<link rel="stylesheet" href="/bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
<link rel="stylesheet" href="/bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" />
<link rel="stylesheet" href="/styles/main.css"> -->

<div class="scrollable">
 <div class="scrollable-content section">

  <div bs-panel title="Requisição de Aço" class="panel-heading-{{modal.item.material.treatment}}">

   <form action="" id="request_form">

    <div class="btn-group justified nav-tabs form-group">

        <a class="btn btn-default"
           href="#TabRolo"
           ng-click="format('R')"
           toggle="on"
           active-class="active">Rolo
        </a>

        <a class="btn btn-default"
           href="#TabChapa"
           ng-click="format('C')"
           toggle="on"
           active-class="active">Chapa
        </a>

    </div>

    <div class="tab-content">

        <div class="tab-pane" 
            toggleable 
            active-class="active" 
            id="TabRolo" 
            default="active"
            exclusion-group="FormatTabs">

        </div>

        <div class="tab-pane" 
            toggleable 
            active-class="active"
            id="TabChapa"
            exclusion-group="FormatTabs">

        </div>

    </div>

    <div class="btn-group justified nav-tabs form-group">

        <a class="btn btn-default "
           href="#TabFQ"
           ng-click="lamination('FQ')"
           toggle="on"
           active-class="active">Fina Quente

        </a>

        <a class="btn btn-default"
           href="#TabFF"
           ng-click="lamination('FF')"
           toggle="on"
           active-class="active">Fina Frio
        </a>

    </div>

    <div class="tab-content">

        <div class="tab-pane" 
            toggleable 
            active-class="active" 
            default="active" 
            id="TabFQ" 
            exclusion-group="LaminationTabs">

            <div class="btn-group justified nav-tabs form-group">

                <a class="btn btn-default"
                   href="#TabPR"
                   ng-click="treatment('PR')"
                   toggle="on"
                   active-class="active">Chapa Preta
                </a>

                <a class="btn btn-default"
                   href="#TabDE"
                   ng-click="treatment('DE')"
                   toggle="on"
                   active-class="active">Decapado
                </a>

            </div>

            <div class="tab-content">

                <div class="tab-pane" 
                    toggleable 
                    active-class="active" 
                    default="active" 
                    id="TabPR" 
                    exclusion-group="TreatmentTabs">

                </div>

                <div class="tab-pane" 
                    toggleable 
                    active-class="active" 
                    id="TabDE"
                    exclusion-group="TreatmentTabs">
                  
                </div>

            </div>
        </div>

        <div class="tab-pane" 
            toggleable 
            active-class="active" 
            id="TabFF"
            exclusion-group="LaminationTabs">

            <switch 
            bs-form-control 
            ng-model="modal.treatmentFF" 
            label="Galvanizado" 
            ng-click="treatment('GA')"
            label-class="col-xs-6 col-sm-3 col-lg-3" 
            class="col-xs-6 col-sm-9 col-lg-9"></switch>

        </div>
            
    </div>

    <select
      bs-form-control
      required
      label="Espessura (mm)" 
      label-class="col-xs-6 col-sm-3 col-lg-3" 
      class="col-xs-6 col-sm-9 col-lg-9"
      placeholder="Espessura"
      ng-model="modal.item.material.thickness"
      ng-options="t.value as t.desc for t in modal.thicknesses" 
      ng-change="changedThickness()"
    ></select>

    <input
      bs-form-control
      required
      type="number"
      id="otherThicknesses" 
      name="otherThicknesses"
      label="" 
      label-class="col-xs-6 col-sm-3 col-lg-3" 
      class="col-xs-6 col-sm-9 col-lg-9"
      placeholder="Nova espessura..." 
      ng-show="modal.showOtherThickness"
      ng-model="modal.item.otherThickness" 
      min='0.10' max='9.99'>

    <select 
      bs-form-control 
      label="Largura (mm)" 
      label-class="col-xs-6 col-sm-3 col-lg-3" 
      class="col-xs-6 col-sm-9 col-lg-9" 
      placeholder="Largura mm" 
      ng-model="modal.item.material.width" 
      ng-options="l for l in modal.widths"
      ng-change="changedWidth()"
    ></select>

    <input
      bs-form-control
      required
      type="number"
      id="otherWidth" 
      name="otherWidth"
      label="" 
      label-class="col-xs-6 col-sm-3 col-lg-3" 
      class="col-xs-6 col-sm-9 col-lg-9"
      placeholder="Nova largura..." 
      ng-show="modal.showOtherWidth"
      ng-model="modal.item.otherWidth" 
      min='20' max='3000'>

    <select
      bs-form-control
      label="Comprimento (mm)" 
      label-class="col-xs-6 col-sm-3 col-lg-3" 
      class="col-xs-6 col-sm-9 col-lg-9"
      placeholder="Comprimento mm"
      ng-model="modal.item.material.length"
      ng-options="l for l in modal.lengths"
      ng-disabled="modal.format === 'R'"
      ng-change="changedLength()"
    ></select>

    <input
      bs-form-control
      required
      type="number"
      id="otherLength" 
      name="otherLength"
      label="" 
      label-class="col-xs-6 col-sm-3 col-lg-3" 
      class="col-xs-6 col-sm-9 col-lg-9"
      placeholder="Novo comprimento..." 
      ng-show="modal.showOtherLength"
      ng-model="modal.item.otherLength" 
      min='100' max='3000'>

    <input
      bs-form-control
      integer required
      type="number" 
      min='100' max='30000' 
      label="Peso (Kg)" 
      label-class="col-xs-6 col-sm-3 col-lg-3" 
      class="col-xs-6 col-sm-9 col-lg-9"
      ng-model="modal.item.weight"
      ng-class="{'form-group' : true, 'has-error' : request_form.weight.$dirty && request_form.weight.$invalid}"
      placeholder="Peso (Kg)"
    />

    <input
      bs-form-control
      type="text" 
      label="Entrega"
      label-class="col-xs-6 col-sm-3 col-lg-3" 
      class="col-xs-6 col-sm-9 col-lg-9"
      ng-model="modal.item.arrival"
      pick-a-date="modal.item.arrival"
      pick-a-date-options="{ 
        selectYears: true, 
        editable: true,
        today: 'Hoje',
        clear: 'Limpar',
        close: 'Fechar',
        labelMonthNext: 'Next month',
        labelMonthPrev: 'Previous month',
        labelMonthSelect: 'Select a month',
        labelYearSelect: 'Select a year'
      }"
    />

    <div class="form-group">
      <a href="#/" class="btn btn-primary" ng-disabled="request_form.$invalid" ng-click="save()"><span class="fa fa-check"></span> Gravar</a>&nbsp;&nbsp;<a href="#/" class="btn btn-primary" class="btn btn-primary"><span class="fa fa-times"></span> Fechar</a>
    </div>

    </form>
  </div>
  </div>
</div>

