
/* Define custom Metro-UI styles */

.metro .panel {
    border: 0px #eaeaea solid;
}

.metro .listview-outlook .list .list-content {
	padding-left: 5px;
}

.metro .tile.half.tile-DE {
    background-color: #1ba1e2;
}

.metro .tile.half.tile-PR {
	background-color: #a4c400;
}

.metro .tile.half.tile-GA {
	background-color: #f0a30a;
}

@media only screen and (max-width: 800px) {
    .navigation-bar, .navbar {
        position: fixed !important;
    }
    .metro .navigation-bar .navigation-bar-content .element, .metro .navbar .navigation-bar-content .element, .metro .navigation-bar .navbar-content .element, .metro .navbar .navbar-content .element, .metro .navigation-bar .navigation-bar-content .element-divider, .metro .navbar .navigation-bar-content .element-divider, .metro .navigation-bar .navbar-content .element-divider, .metro .navbar .navbar-content .element-divider {
        display: inline-block;
    }
    .metro h2 {
        font-size: 28px;
    }
}

@media only screen and (max-width: 340px) {
    .control-label {
        font-size: small;
    }
}


@media screen and (max-width: 640px) {
    .small_screen {
       display: inline;
    }
    .large_screen {
       display: none;
    }
}

@media screen and (min-width: 641px) {
    .small_screen {
       display: none;
    }
    .large_screen {
       display: inline;
    }
}

/* Define custom Bootstrap styles */

.form-group {
  padding: 5px 0;
}

.nav-tabs,
.tab-content  {
    border-collapse: initial;
}

.ng-dirty input.ng-invalid, input.ng-invalid, textarea.ng-invalid {
    border-color: #FF000A;
}

.section {
    padding-top: 0;
}

.form-control {
    padding: 0px 5px 0px 5px;
}

.panel-heading-DE .panel-heading {
    background-color: #1ba1e2;    
}

.panel-heading-PR .panel-heading {
    background-color: #a4c400;
}

.panel-heading-GA .panel-heading {
    background-color: #f0a30a;
}

.panel-heading-DE .panel-heading .panel-title,
.panel-heading-PR .panel-heading .panel-title,
.panel-heading-GA .panel-heading .panel-title
{
    color: white;
}

/*body {
    background:#fff url("../images/head2.png") 0 -20px repeat-x;
}*/

/*.panel-body {
    background-color: black;
}*/

a:hover {
    text-decoration: none;
}